* {-mox-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}

body {
    font-family: "Oswald", Helvetica, sans-serif;
    font-size: 16px;
}
 header {
     background-color: #5b3758;
     color: ivory;
     font-family: "Poppins", Gadget, sans-serif;
    
     padding: 1rem 2%;
     
 }
 header h1{
     margin: 0;
 }
 header h2{
     margin: 0;
 }
 nav ul {margin: 0; padding: 0;}
 nav li{list-style-type: none;}
 nav a{
     display: block;
     padding: .8rem 0;
     text-align: center;
     text-decoration: none;
 }
 footer {
     background-color: #5b3758;
     color: ivory;
     font-family:"Poppins", Gadget, sans-serif;
    
     text-align: center;

 }
 #href {
     color: ivory;
 }
