header {
    color: ivory;
    
    flex-flow: row wrap;
    align-items: left;
    justify-content: center;
    padding: 10px;
    background-color: #5B3758;   
    font-family: 'Poppins', Gadget, sans-serif;    
    font-size: 3em;
    
}

main {
   
    padding: 10px;
    font-family: 'Oswald', Helvetica, sans-serif;
    
}


footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #5B3758;
    color: ivory;
    font-family: 'Poppins', Gadget, sans-serif;
    
   

}
img {
    width:200px;
    float:right;
    padding:5px;
    
    border-radius:10px;

}
#href{
    color:ivory;
}
h1 {
    font-family: 'Poppins', sans-serif;
}