nav {
    font-size: 15px;
}
nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
nav button {display: none;}
nav ul.hide {display: flex;}

nav a {
    display: block;
    padding: .8rem 0;
}

nav li.active a{
    background-color: $color4;
    text-decoration: underline;
}
nav ul li a:hover {background-color: $color4;}


.choices{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    margin: 20px;
    padding: 20px;
    
    
}
.choices h3 {
    text-align: center;
}
section:nth-child(3) {
    grid-column: span 2;

}
section:nth-child(3) img{
    margin: 0 auto;
}
