* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

header {
    padding: 1rem 2%;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    background-color: $color1;
    color: white;
    font-family: $fontFamily1;

}


body{
    font-family: $fontFamily3;
    color: black;
    font-size: 16px;
   
}

h1 {
    font-size: 30px;
    font-family: $fontFamily2;
    
}
h2 {
    font-size: 25px;
    font-family: $fontFamily2;
}
h3 {
    font-size: 20px;
}
p {
    font-size: 16px;
}

nav {
    background-color: $color2;
    font-family: $fontFamily1;
    font-size: 20px;
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: black;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav ul li a {
    display: block;
    text-decoration: none;
}
nav a {
    display: block;
    padding: .8rem 0;
    color: black;
    text-align: center;
    text-decoration: none;
}
nav li.active a {
    background-color: $color4;
}

nav ul li a:hover {background-color: $color4;}

nav ul.hide {display: none;}

.pgtitle{
    text-align: center;
}

.summary {
    border: 1px solid black;
    padding: 5px;
    margin: 25px auto;
    width: 50%;
    text-align: center;
    background-color: $color3;
    display: block;
    position: relative;
    box-shadow: 5px 5px 10px -5px;
}
.forkpic {
    display: block;
    position: relative;
    margin: 25px auto;
    
    box-shadow: 5px 5px 10px -5px;
    
}
.info{
    text-align: center;
}

iframe {
    display: block;
    width: 75%;
    border: 1px solid black;
    margin: 0 auto;
    box-shadow: 0 0 30px black;
}
form {
    margin: 50px;
}
form fieldset {
    margin: 2rem 0;
    border: 1px solid $color1;
    border-radius: 10px;
    padding: .5rem 2%;
}
form label.top, form {
    display: block;
    padding-top: 1rem;
    font-size: .8rem;
}
form label.top input, form label.top select, .addinfo {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #2978A0 ;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 20rem;
   
}
form input.submitButton {
    border: none;
    background-color: $color4;
    border-radius: 1rem;
    margin: 0 0 2rem 2%;
    padding: .75rem 1.5rem;
    width: 96%;
    max-width: 15rem;
    font-size: 20px;

}
form label.top input:required{
    border-left: red solid 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5x;   
    padding: 5px;
    text-align: center;

}
.cards section{
    
    background-color: #639CB9;
    border: 1px solid black;
    margin: 5px;
}
.cards section img{
    width: 50%;
    height: auto;
    box-shadow: 0 0  15px;
    margin: 10px;
   
}
.cards section years, .cards section experience{
    font-family: raleway;
    font-size: 16px;
    display: block;
    font-weight: bold;
    padding: 10px;
   
}
table{
    margin: 50px auto;
    padding: 15px;
    font-family: "Ubuntu", sans-serif;
    box-shadow: 5px 5px 10px -5px;
      
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    
} 
thead tr{
    background-color: $color4;
}
thead tr th {
    
    text-align: center;
    font-size: 25px;
    
}
.first {
    background-color: $color5;
    color: white;
}
tbody{
    text-align: center;
}
tr {
    background-color: $color3;
}
h3.ftnt {
    text-align: center;
    text-emphasis: none;
}

footer {
    padding: 1rem 2%;
    background-color: $color1;
    color: white;
    font-family: $fontFamily1;
    font-size: 20px;
    text-align: center;
    
}
.href {
    color: white;
    
}