
table{
    margin: 50px auto;
    padding: 15px;
    font-family: "Ubuntu", sans-serif;
    box-shadow: 5px 5px 10px -5px;
      
}
table, th, td {
    border: 1px solid #e7f0ed;
    border-collapse: collapse;
    padding: 15px;
    
} 

thead tr th {
    
    text-align: center;
    font-size: 25px;
    background-color: #7fb9c2;
}
tbody th {
    background-color: #628ca6;
    color: white;
}
tbody{
    text-align: center;
}
tr {
    background-color: #e7ffed;
}
tr:nth-child(even) {
   background-color: #e7f0ed;
}
tr:nth-child(6){
    font-style: italic;
}

tfoot th {
    font-size: 12px;
    background-color: #7fb9c2;
}
.goal{
    color: white;
    background-color: #628ca6;
}