@media only screen and  (min-width: 1028px){
    /*header, footer, main {max-width: 75rem; margin: auto;}*/

    main nav {
        display: flex;
       
        background-color: #639CB9;
        text-align: center;
        align-items: center;
        /*justify-content: center space-evenly;*/
    }
    main nav button {display: none;}
    main nav ul.hide {display: block;}
  
    main nav ul li {
        flex: 1 1 100%;
        float: left;
        
    }
    main nav ul li a {
        padding: .6rem 1rem;
        border: none;
        
    }
    section{
        padding: 3rem;
    }


   
table{
        padding: 1rem;
        margin: 0 auto;
        table-layout: fixed;
        width: 700px;
        height: 200px; 
        border-collapse: collapse;
        border: 1px solid black;
       
        
     }
     .icon {
         height: 25%;
     }
#snow{
    float: right;
}
    
.sm{
    height: 40%;
    padding: 10px;
}
}
