@media only screen and (min-width: 1028px){
    header, footer, main {max-width: 75rem; margin: auto;}
    


        nav ul { 
            display: flex;
            text-align: center;
            }
nav li {
  width: auto;
  display: inline-block;
  
  }
nav a {/*padding: .5rem 1rem;*/
  display: flex;
	flex-flow: column;	
	justify-content: center;
        color: black;
        text-align: center;
        text-decoration: none; /*remove underline for list items*/}

img {
    width: 75%;
    
}
}