@media only screen and (min-width: 1028px){
    header, footer, main {max-width: 75rem; margin: auto;}
    


 nav ul { 
    /*display: flex;*/
    text-align: center;
}
nav li {
  width: auto;
  display: inline-block;
  
  }
nav a {
    padding: .5rem 1rem;
    display: flex;	
    color: black;
    text-align: center;
     text-decoration: none; /*remove underline for list items*/}

img {
    width: 75%;
    align-items: center;
    
}
main {
    grid-template-columns: 1fr 1fr 1fr;
}
article:nth-child(3) {
    grid-column: span 1;
}
div.news {
    clear: both;
    column-count: 3;
    column-rule: 1px solid #ddd;
}
}