@media only screen and (min-width: 560px){
nav ul { 
    display: flex;
    text-align: center;
}
nav li {
    width: auto;
    display: inline-block;

}
nav a {
    padding: .5rem 1rem;
    display: flex;
    color: black;
    text-align: center;
    text-decoration: none; /*remove underline for list items*/}

img {
    width: 75%;
    align-items: center;

}

div.news {
    clear: both;
    column-count: 2;
    column-rule: 1px solid #ddd;
}
section:nth-child(3){
    grid-column: span 2;
}


section {
    margin: 0;
    padding: 1rem 2%
}

   
   
    

}/*end of media query*/