* {-mox-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}

body {
    font-family: "Oswald", Helvetica, sans-serif;
    color: black;
    font-size: 16px;
    background-color: white;
}
 header {
     text-align: left;
     font-size: 40px;
     background-color: #2978A0;
     color: #ffffff;
     font-family: "Oswald", Helvetica, sans-serif;
    
     
 }
 #logo {
     width: 50px;
     float: right;

 }
 
 h1 {
    font-size: 30px;
  
}
h2 {
    font-size: 25px;
 
}
h3 {
  font-size: 20px;

}
p {
  font-size: 16px;
  color: #000000;
}

 header h1{
     margin: 0;
 }
 header h2{
     margin: 0;
     
 }

nav {background-color: #639CB9;}
nav ul {margin: 0; padding: 0;}
nav li {list-style-type: none;} /*remove bullets*/
nav li.active{background-color: #333;}
nav a{ /*anchor*/
    display: block;
    padding: .8rem 0; /* 44 min height per apple*/
    color: black;
    text-align: center;
    text-decoration: none; /*remove underline for list items*/
}
nav a:hover {background-color: #d7bcc8;}
table {
    position: center;
    display: table;
}
.table-cell{
    width: 160px;
    height: 75px;
    display: table-cell;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
 
}



     
 footer {
    background-color: #2978A0;
    color: #ffffff;
    font-family:"Poppins", Gadget, sans-serif;
    padding: 1rem 2%;
    font-size: 20px;
    text-align: center;

 }
 #href {
     color: white;
 }
 img {
     width: 75%;
     
 }