* {-mox-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}

body {
    font-family: "Oswald", Helvetica, sans-serif;
    color: black;
    font-size: 16px;
    background-color: white;
}
 header {
     text-align: center;
     background-color: #2978A0;
     color: white;
     font-family: "Oswald", Helvetica, sans-serif;
     padding: 1rem 2%;
     
 }
 
 
 header h1{
     margin: 0;
 }
 header h2{
     margin: 0;
     
 }

nav {background-color: #639CB9;}
nav ul {margin: 0; padding: 0;}
nav li {list-style-type: none;} /*remove bullets*/
nav li.active{background-color: #333;}
nav a{ /*anchor*/
    display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
    padding: .8rem 0; /* 44 min height per apple*/
    color: black;
    
    text-decoration: none; /*remove underline for list items*/
}
nav a:hover {background-color: #d7bcc8;}

     
 footer {
    background-color: #2978A0;
    color: white;
    font-family:"Poppins", Gadget, sans-serif;
    padding: 1rem 2%;
    text-align: center;

 }
 #href {
     color: white;
 }
 img {
     width: 25%;
     
 }
